<h1 mat-dialog-title>Author</h1>
<mat-dialog-content class="mat-typography">
  <h2>Nallely Hernández lorenzana</h2>
  <hr>
  <h3>SoftwareDeveloper</h3>

  <p>Profesional con más de nueve años de experiencia en el negocio de desarrollo de software. 
      Involucrada tanto en servicios backend como frondend y bases de datos..</p>

  <p>Me gustan los cambios, aprender nuevas cosas cada día, tomar nuevos retos, 
      también contribuir con mi conocimiento adquirido a través de mi experiencia. </p>

  <p>Aplicando las mejores prácticas para colaborar al crecimiento del negocio 
      a través del uso óptimo de los recursos informáticos y la planificación estratégica.</p>

   <h3>Contacto</h3>
   <p><b>Teléfono: </b> 5551021848</p>
   <p><b>email: </b> hlnallsa@gmail.com</p>
   <p><b>LinkedIn: </b> www.linkedin.com/in/nallelysideny-hernandez-lorenzana8</p>

   <h3>Habilidades</h3>
   <h4>backend</h4>        
   <mat-progress-bar  class="bar" mode="determinate" value="85"></mat-progress-bar>
   <h4>frontEnd</h4>        
   <mat-progress-bar  class="bar" mode="determinate" value="90"></mat-progress-bar>
   <h4>base de datos</h4>        
   <mat-progress-bar  class="bar" mode="determinate" value="80"></mat-progress-bar>
   <h4>Varsionado</h4>        
   <mat-progress-bar  class="bar" mode="determinate" value="95"></mat-progress-bar>
   <h4>Organizacion tiempo</h4>        
   <mat-progress-bar  class="bar" mode="determinate" value="100"></mat-progress-bar>

</mat-dialog-content>
<mat-dialog-actions >
  <button mat-button mat-dialog-close>Cerrar</button>
  
</mat-dialog-actions>
