<div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
<mat-form-field class="form-field"
        autofocus 
        type="text" 
        class="form-control-lg" 
        placeholder="Search..."
        (keyup.enter) = "onSearch(inputValue.value)"
        
        >
    <mat-label>Presiona enter</mat-label>
    <input matInput type="text" #inputValue (focusout)="focusOutFunction()">
    <button mat-button  *ngIf="inputValue.value" matSuffix mat-icon-button aria-label="Clear" (click)="inputValue.value =''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
  